<div class="home">
    <h2>TODO</h2>

    <h2>Dev references</h2>

    <h3>Prototypes</h3>

    <div style="display: flex; flex-direction: column;">

        Dynamic component injection proof-of-concept

        <a routerLink="alerts">
            Mock alerts page
        </a>
    </div>

    <h3>Mockups</h3>

    <div style="display: flex; flex-direction: column;">

        Metadata 2.0 Page Redesign

        <a href="https://xd.adobe.com/view/2297510b-378a-45f6-5b3a-11ccc80ea266-54a6/" target="_blank">
            Hi-Fi Prototype: (Interactive, ignore styling)
        </a>

        <a href="https://xd.adobe.com/view/512096b9-8944-4989-46d8-b8ed70fcee19-2711/" target="_blank">
            Hi-Fi Mockup: Light Mode. Option B was selected (limited interactivity)
        </a>

        <a href="https://xd.adobe.com/view/494866c9-9681-4d24-75a8-4c26b8be926a-3f79/" target="_blank">
            Hi-Fi Mockup: Dark Mode. Option A was selected (limited interactivity)
        </a>

        <a href="https://xd.adobe.com/view/ff026748-221b-4019-45ca-e90c85c48ab7-8933/" target="_blank">
            Lo-Fi Prototype: Network Metadata
        </a>
        <br>

        Additional Lo-Fi Prototypes:

        <a href="https://xd.adobe.com/view/623e3a30-1c21-4f07-723c-1aa2596d3ff2-140f/" target="_blank">Anomalies</a>
        <a href="https://xd.adobe.com/view/518b45f8-10e5-4949-4d84-ca108707af59-27ba/" target="_blank">Alerts</a>
        <a href="https://xd.adobe.com/view/8fb00791-4c15-4692-47d9-84aec3dcdfc0-f981/" target="_blank">Conclusions</a>

    </div>
</div>
