/* Add application styles & imports to this file! */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #aaa;
}
.header, .grid, .detail {
    background: #ddd;
    margin: 10px 20px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
}

.mode {
    margin: 10px;
}
button {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    color: #333;
    background: #ddd;
}
button.active {
    color: white;
    background: #0078e7;
}

.main {
    display: flex;
}
.grid {
    flex-grow: 2;
}
.detail {
    flex-grow: 1;
}

.cell {
    display: inline-block;
    width: 40%;
    padding: 5px;
}
.grid-header .cell {
    font-weight: bold
}
.dark {
    background: #ccc;
}
